version: '3.8'

services:
  php:
    image: pmietlicki/php-apache-ldap
    ports:
      - 80:80
    volumes:
      - ./php:/var/www/html/
    environment:
      - CONFIG=docker
    depends_on:
      - keycloak
      - ldap
  ldap:
    image: osixia/openldap
    environment:
      - LDAP_DOMAIN=virtu.org
      - LDAP_ORGANIZATION="Virtu Corp."
    
    ports: 
      - 389:389

  mysql:
    image: mysql
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=keycloak
      - MYSQL_USER=keycloak
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=root_password
    healthcheck:
      test: "mysqladmin ping -h localhost -u keycloak -ppassword || exit 1"
      interval: 30s
      timeout: 5s
      retries: 20

  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=mysql
      - KC_DB_URL_HOST=mysql
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=password
      - KC_HEALTH_ENABLED=true
    ports:
      - "8080:8080"
    command: start-dev
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: "curl --fail http://localhost:8080 || exit 1"
      interval: 10s
      timeout: 5s
      retries: 20

  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: phpldapadmin
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=ldap
    ports:
      - "6443:443"
    depends_on:
      - ldap
  
  backend:
    image: node:latest
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "3000:3000"
    command: node api.js
    depends_on:
      - keycloak
      - mysql